/*
 *
 * AdMIN PANEL CSS
 * 
 */
 .img-upload{
    position: relative;
 }
 .img-upload img{
    margin-bottom: 10px;
 }
 .img-upload i{
    position: absolute;
    left: 200px;
    top: 15px;
    font-size: 20px;
    color: red;
 } 
 .img-upload .custom-img-upload {
    border: 1px solid #ccc;
    display: inline-block;
    padding: 6px 12px;
    cursor: pointer;
    background: #dd4b39;
    color: #fff;
    text-align: center;
    margin-left: 15px;
    width: 192px;
}
.img-upload input[type="file"] {
    position: absolute;
    bottom: 6px;
    left: 16px;
    width: 92%;
    opacity: 0;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 28px;
}
.switch input {display:none;}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}
.slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 8px;
    bottom: 5px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #00a65a;
}
input:focus + .slider {
    box-shadow: 0 0 1px #00a65a;
}
input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}
/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}
.slider.round:before {
    border-radius: 50%;
}
#plans_wrapper{
    margin: 1%; 
    width: 97%;
}
#plans_filter, #plans_paginate{
    float: right;
}

.note-editing-area{
    height: 300px;
}
